@import '@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
  width: 100%; 
}

/* Custom */

.no-select {
  user-select: none;
  pointer-events: none;
}

.user-select {
  user-select: auto;
  pointer-events: auto;
}

/* End Custom */


/* FullCalendar */
.fc-view .fc-col-header, .fc-daygrid-body, .fc-scrollgrid-sync-table {
  width: 100% !important
}

.fc-view thead .fc-scroller {
  overflow: hidden !important;
}

.fc thead th { /* needs to be same precedence */
  border: none;
  background-color: rgb(233 232 255);
}

.fc thead th a {
  color: #646cff;
}

.fc .fc-view table {
  border: none;
}

.fc .fc-view .fc-event {
  background-color: #344ce5;
  color: white;
}

.fc .fc-view .fc-event-time {  
  font-weight: 400;
  margin-right: 6px;
}

.fc .fc-view tbody presentation {
  border: none;
}

.fc .fc-view tbody .fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

.fc .fc-view-harness-active {
  min-height: 600px !important;
  overflow: hidden !important;
}

.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
}

.fc .fc-header-toolbar .fc-button {  
  background-color: unset;
  color: #7064ff;
  border: none;
}

.fc .fc-header-toolbar .fc-button:hover, 
.fc .fc-header-toolbar .fc-button:active, 
.fc .fc-header-toolbar .fc-button:focus  {
  background-color: #eae7ff;
  color: #7064ff;
  outline: none !important;
  box-shadow: none !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5em;
}

.fc .fc-header-toolbar .fc-toolbar-title {
  color: #a88dd4;
  font-size: 1.5rem;
}

/* End FullCalendar */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
